*{
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

@mixin centerLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin listStyle{
    width: 60vw;
    display: block;
    position: absolute;
    left: 0;
    top: 103%;
    overflow: hidden;
}

body{
    background-image:
        linear-gradient(174deg, #FFD370 2%, #FFD370 46%,
        #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: 5.5% auto;
    font-size: 2.5rem;
    
    @media screen and (max-width:768){
        h2{
            font-size: 1.5rem;
        }
    }
}

.title_inoutBox{
    max-width: 100%;
    margin: 10px  auto;
    display: flex;
    justify-content: center;

    input{
        width: 40%;
        font-size: 1.3rem;
        padding: 7px;
        text-align: center;
        border-right: 0;        
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
        border-radius: 10px 0 0 10px;
    }

    @media screen and (max-width: 768px){
        input{
            font-size: 1rem;
        }
    }
    }
    button{
        background-color: #FFFFFF;
        border-left: 0;
        border-radius: 0 10px 10px 0px;
        cursor: pointer;
    }



.todoListBox{
    max-width: 100%;
    @include centerLayout();
    flex-direction: column;
    flex-wrap: wrap;
    
    ul{
        width: 60%;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
        border-radius: 10px;
        border-radius: 10px;
        @include centerLayout();

        li{
            width: 100%;
            font-size: 1.1rem;
            font-weight: bolder;
            text-align: center;
            cursor: pointer;
            padding: 3%;
            position: relative;
        }
        li:hover{
            border-bottom: 2px solid black;
        }
        .listAll{
            @include listStyle();
        }
        .list_li{
            width: 95%; 
            padding: 5%;
            font-size: 1.5rem;
            @include centerLayout();
            position: relative;
            align-items: center;
        
            button{
                width: 48px;
                height: 48px;   
                border: 0;
                background-color: #FFFFFF;
                cursor: pointer;
                position: absolute;
                right: 5%;
                background-image: url('/圖片素材/can.png');
            }
            button:hover{
                border: 1px solid rgba(0, 0, 0, 0.50);
                border-radius: 50%;
            }
        }
        .list_li:hover{
            border-bottom: 2px solid black;
        }      

        .listTreat{
            @include listStyle();
            left: -100%;
        }

        .listFinish{
            @include listStyle();
            left: -200%;
        }
        
        @media screen and (max-width : 768px){
            .list_li{
                font-size: 1rem;
            
                button{
                    width: 36px;
                    height: 36px;
                    background-image: url('/圖片素材/can-min.png');
                    top: 7%
                }
        }
    }
}

    .listBox{
        @include centerLayout();
    }
    
    .listCheckBox{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 5%;
        top: 42%;

    }
    @media screen and (max-width : 768px){
        .listCheckBox{
            width: 18px;
            height: 18px;
            top: 31%;
        }
    }

    .underText{
        display: flex;
        justify-content: space-between;
        
        button{
        font-family: NotoSansCJKtc-Regular;
        font-size: 1.4rem;
        background-color: #ffffff00;
        color: #9F9A91;
        letter-spacing: 0.7px;
        border: 0;
        cursor: pointer;
        padding: 5%;
        transition: all 1.2s;
        transform: translateY(0px);
        }

        button:hover{
            transform: translateY(-10px);
            color: black;
        }

        p{
            font-family: NotoSansCJKtc-Regular;
            font-size: 1.4rem;
            color: #333333;
            letter-spacing: 0.7px;
            padding: 5%;
        }
    
        @media screen and (max-width : 768px){
            p, button{
                font-size: 1rem;
            }
        }
    }
}
.delLine{
        color: #33333370;
        text-decoration: line-through;
}

.underLine{
    border-bottom: 2px solid black;
}



